<ion-header>
  <ion-toolbar>
    <ion-title>
      Mensa Academica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  fullscreen
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">


  <ion-list >
    <ion-list-header>
      <ion-label><h1>Speisekarte</h1></ion-label>
    </ion-list-header>

    <ion-item *ngFor="let daten of MensaDetails">
      <h1>{{daten.Name}}</h1>
    </ion-item>

  </ion-list>


</ion-content>
